<button
  type="button"
  onclick={{action "toggle"}}
>
  {{#if @starred}}
    <img
      data-test="star_image"
      src="/star-filled.png"
      width="20"
      height="20"
      alt="text"
    >
  {{else}}
    <img
      data-test="star_image"
      src="/star-empty.png"
      width="20"
      height="20"
      alt="text"
    >
  {{/if}}
</button>
