{{#link-to "compose"}}
  Compose
{{/link-to}}
<nav>
  {{#link-to "index"}}
    Inbox
  {{/link-to}}

  {{#link-to "sent"}}
    Sent
  {{/link-to}}

  {{#link-to "trash"}}
    Trash
  {{/link-to}}
</nav>
{{outlet}}
