<h2>Starred Emails:</h2>
<ul>
  {{#each model as |email|}}
    {{#if email.isStarred}}
      <DisplayStar @email = {{email}}/>
      <br>
    {{/if}}
  {{/each}}
</ul>

<h2>All Emails:</h2>
<ul>
  {{#each model as |email|}}
    <DisplayStar @email = {{email}}/>
    <br>
  {{/each}}
</ul>

{{outlet}}
