<h2>Starred Emails:</h2>
<ul>
  {{#each model as |email|}}
    {{#if email.isStarred}}
      <DisplayStar data-test="starred" @email = {{email}}/>
      <br>
    {{/if}}
  {{/each}}
</ul>

<h2>UnStarred Emails:</h2>
<ul>
  {{#each model as |email|}}
    {{#unless email.isStarred}}
      <DisplayStar data-test="nostar" @email = {{email}}/>
      <br>
    {{/unless}}
  {{/each}}
</ul>

{{outlet}}
